/* header */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

/* General styles */

#wrapper {
    min-width: 960px;
    max-width: 1980px;
    margin: auto;
}

.logo {
    margin: -5px;
    width: 25%;
    height: 25%;
    box-shadow: 3px 3px -3px -3px black;
    border-radius: 40% 40% 40% 40%;
}

body {
    min-width: 960px;
    max-width: 1980px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #27336f;
    font-size: 16px;
    text-align: center;
    line-height: 1.4em;
    padding: 20px;
}

h1, h2 {
    margin: 0px 0px -50px 0;
    position: absolute; 
    left: -9999px;
}   

h3 {
    margin: 10px auto 15px auto; 
    max-width: 100%;
    text-align: center;
    font-family: Arial; 
    color: #27336f}

h4 {
    text-align: left;
    padding: 10px;
    margin: 0px 0px 5px 0px;}

li.link {
    display: inline;
    margin-right: 10px;
}

p {
    text-align: left;
}

a {
    color:inherit;
    text-decoration: none;
    cursor: pointer}
    a:hover{color: black; 
        font-weight: 550;}
    a:focus{color: black; 
        font-weight: 550;}

a.exist:hover {
    color: black; 
    font-weight: bold; 
    text-decoration: underline;}

nav {
    margin: 0px auto 5px auto;
    max-width: 100%;
    padding: 0px; 
    background-color: #27336f;
    color: white;
    text-align: center;
    border-top: 6px solid #27336f; 
    border-bottom: 3px solid #27336f;
}

img.slide {
    display: block;
    max-width: 100%;
    margin: -5px auto 5px auto;}

li {
    max-width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: left;
}
        
ul {
    max-width: 100%;
    list-style: outside circle;
}

/* content layout and styling */

article {
    float: left;
    max-width: 60%;
    padding: 5px; 
}
    
aside {
    float: right;
    max-width: 40%;
    margin: 10px 0px 10px 0px;
}

figure {
    max-height: 100%;
    margin: 0px;
}
        
figcaption {
    font-size: 0.9em;
    border-bottom: 1px solid #27336f;
    margin-top: 2px;
    padding: 5px 0px 20px 0px;
}

figcaption.video {
    text-align: left;
}

#services > article {
    display: grid;
    grid-template-columns: 2fr;
}

#services > aside {
    display: grid;
    grid-template-columns: 1fr;
}

#case {
    box-sizing: border-box;
    border-bottom: 1px solid #27336f;
}


#contact > fieldset address p {
    display: grid;
    grid-template-columns: 3fr; 
}

#contact > image {
    display: grid;
    grid-template-columns: 1fr;
}

.embed {
    display: inline;
    max-width: 45%;
    margin: 45px 5px;
}

.accredit {
    display: inline;
    height: 7.8em;
    margin: 0px 5px;
}

/* sticky footer */

main {
    max-width: 100%;
    padding-bottom: 200px;
}

footer {
    border-top: 15px solid #27336f;
    padding-top: 20px;
    clear: both;
    position: relative;
    margin-top: -200px;
    min-width: 960px;
    max-width: 1980px;
    height: 200px;
}

/* contact form */

button,
input,
select,
textarea {
    width: 100%;    
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
} 

form {
    max-width: 50%;
    padding: 5px;
    margin: 0px;
    border: 0;
    text-align: left;
}

fieldset {
    max-width: 100%;
    margin: 0px;
    border: 0;
    text-align: left;
    
}
    
legend {
    max-width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 0;
    text-align: center;
    text-transform: uppercase;}

input {
    font-size:120%;
    margin: 5px;
    padding: 5px;
    color: #27336f;
    background-color: #ffffff;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid 1px black;
}

input:focus, input:hover {
    background-color: #f0f0f0;
    outline: none;
}

textarea:focus::placeholder {
    color: transparent;
  }

input#submit {
    color: #ffffff;
    border-radius: 5px;
    border-bottom-style: solid 1px black;
    background-color: #27336f;}
input#submit:hover {
    color: lightgray;
    border: 1px solid #a4a4a4;
    border-bottom-style: solid 1px black;
    background-color: #27336f;
    cursor: pointer;
}

input[type="radio"] {
    position: relative;
    width: 1em;
    height: 1em;
    vertical-align: -2px;
}

input[type="submit"] {
    width: 20%;
    margin-left: 80%;
    text-align: center;
}

#radio-buttons {
    padding: 5px;
}

label, span.title, {
    padding: 10px;
}

textarea {
    overflow: auto;
}

#contact p, address {
    max-width: 50%;
}

.contact {
    position: relative;
    top: 60px;
    left: 10px;
    padding: 5px;
    max-height: 30em;
}